@import "../../style.scss";

.Home {
    @include themify($themes) {
        background-color: themed("bgSoft");
        min-height: 100vh;
        @include tablet{
            padding: 0px;
        }
        @include mobile{
            align-items: center;
            justify-content: center;
            width: 100vw;
            
        }
    }
}